:root {
  --colorWhite: #ffffff;
  --colorBlack: #070707;

  //*primary
  --colorGrayishBlue: #8486a9;
  --colorSoftRed: #de5500;
  --colorSoftRedTop: #e36b21;
  // --colorPurple: #2a232e;

  //*neytral
  --colorDarkDesaturatedBlue: #074507;
  --colorVeryDarkBlue: #042c04;
  --colorVeryDark: #03150a;
}
