.countContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}
.title {
  text-transform: uppercase;
  letter-spacing: 8px;
}
@media (min-width: 768px) {
  .countContainer {
    gap: 20px;
  }
}
